
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Mvc Kamp Tablo - Kategori</h3>
<br />
<table>
    <tr>
        <th>#</th>
        <th>Kategori Ad</th>
        <th>Açıklama</th>
        <th>Durum</th>

    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Açıklama Yapılır</td>
        <td>True</td>

    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapılır</td>
        <td>True</td>

    </tr>
</table>
